In [1]:
import hdf5plugin
import h5py    

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
def print_all_datasets(group, prefix=''):
    for key in group.keys():
        item = group[key]
        if isinstance(item, h5py.Dataset):
            print(prefix + key)  # Print the dataset name
        elif isinstance(item, h5py.Group):
            print_all_datasets(item, prefix + key + '/')  # Recursively explore groups
            
def list_datasets(group, prefix=''):
    for key in group.keys():
        item = group[key]
        if isinstance(item, pd.DataFrame):
            print(prefix + key)  # Print the dataset path
        elif isinstance(item, pd.io.pytables.HDFStore):
            list_datasets(item, prefix + key + '/')  # Recursively explore groups


default_colors = {0: 'green', 1: 'blue', 2: 'orange', 3: 'red'}
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42
import matplotlib

In [3]:
def get_model_score(file_path,sequence_number):
    import h5py
    # Open the HDF5 file
    with h5py.File(file_path, 'r') as f:
        # Access the dataset
        dataset = f['shap']['seq']
        
        # Convert dataset to a pandas DataFrame
        #get contribution_scores
        df = pd.DataFrame(dataset[sequence_number][:])
    
        # Access the dataset
        dataset = f['raw']['seq']
        
        # Convert dataset to a pandas DataFrame
        #get sequence
        df2 = pd.DataFrame(dataset[sequence_number][:])


        # Access the dataset
        dataset = f['projected_shap']['seq']
        
        # Convert dataset to a pandas DataFrame
        #get sequence
        df4 = pd.DataFrame(dataset[sequence_number][:])

    df3 = df*df2

    return(df2,df3)

In [4]:
region_name = 'SNC'
sequence_number = 0

In [5]:
region_name = 'SNC'
celltype = 'enterocytes'
fold = 'fold_0'
NARROWPEAK_SCHEMA = ["chr", "start", "end", "1", "2", "3", "4", "5", "6", "summit"]

intr_regions_bed_path = 'region_scores/'+celltype+'/'+region_name+"/"+fold+".interpreted_regions.bed"
regions_df = pd.read_csv(intr_regions_bed_path, sep='\t', names=NARROWPEAK_SCHEMA)

seq_length = 2114
regions_df['int_start'] = regions_df['start']+regions_df['summit']-seq_length/2
regions_df['int_end'] = regions_df['start']+regions_df['summit']+seq_length/2

In [6]:
snc_bed_path = "extra_data/bed_files/SNC.bed"
snc_df = pd.read_csv(snc_bed_path,sep="\t",header=None)

In [36]:
import pybedtools
from pybedtools import BedTool
snc_bed = BedTool(snc_bed_path)
intr_regions_bed = BedTool(intr_regions_bed_path)

In [24]:
bedtools_path = "/cluster/project/treutlein/jjans/software/miniforge3/envs/seq_manipulation/bin"

In [25]:
pybedtools.helpers.set_bedtools_path(bedtools_path)

In [39]:
overlap_bed = snc_bed.intersect(intr_regions_bed)
overlap_bed_df = overlap_bed.to_dataframe(header=None)

In [21]:
!{bedtools_path} intersectBed -h

error: unrecognized command: intersectBed

In [32]:
a = pybedtools.bedtool.BedTool.intersect(intr_regions_bed,snc_bed,wa=True,wb=True)

In [34]:
a.to_dataframe(header=None)

/cluster/project/treutlein/jjans/software/miniforge3/envs/seq_manipulation/lib/python3.10/site-packages/pybedtools/bedtool.py:3687: UserWarning: Default names for filetype bed are:
['chrom', 'start', 'end', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']
but file has 16 fields; you can supply custom names with the `names` kwarg
  warn(

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,chr1,1462311,1462544,human_peaks_peak_155,27,.,3.15007,4.60824,2.74415,109,chr1,1462328,1462329,.,.,*
1,chr1,1471227,1472043,human_peaks_peak_156,1361,.,14.43790,140.53300,136.17800,480,chr1,1471662,1471663,.,.,*
2,chr1,1511463,1512412,human_peaks_peak_158,1451,.,12.81810,149.73300,145.16600,628,chr1,1511846,1511847,.,.,*
3,chr1,1908542,1909748,human_peaks_peak_188,1399,.,8.21478,144.43500,139.99200,752,chr1,1908578,1908579,.,.,*
4,chr1,2071954,2073083,human_peaks_peak_200,840,.,8.60340,87.47910,84.05270,388,chr1,2072151,2072152,.,.,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3918,chrX,155216016,155216937,human_peaks_peak_89389,799,.,15.16820,83.29890,79.93250,388,chrX,155216807,155216808,.,.,*
3919,chrX,155766980,155767716,human_peaks_peak_89392,435,.,10.01980,46.41770,43.56750,490,chrX,155767178,155767179,.,.,*
3920,chrX,155766980,155767716,human_peaks_peak_89392,435,.,10.01980,46.41770,43.56750,490,chrX,155767254,155767255,.,.,*
3921,chrX,155766980,155767716,human_peaks_peak_89392,435,.,10.01980,46.41770,43.56750,490,chrX,155767178,155767179,.,.,*
3922,chrX,155766980,155767716,human_peaks_peak_89392,435,.,10.01980,46.41770,43.56750,490,chrX,155767254,155767255,.,.,*

In [16]:
snc_df

           0          1          2  3  4  5
0       chr1    1091244    1091245  .  .  *
1       chr1    1165446    1165447  .  .  *
2       chr1    1170749    1170750  .  .  *
3       chr1    1185107    1185108  .  .  *
4       chr1    1200824    1200825  .  .  *
...      ...        ...        ... .. .. ..
139958  chrX  155767254  155767255  .  .  *
139959  chrX  155786323  155786324  .  .  *
139960  chrX  155877651  155877652  .  .  *
139961  chrX  155877778  155877779  .  .  *
139962  chrX  155882038  155882039  .  .  *

[139963 rows x 6 columns]

In [11]:
regions_df

,chr,start,end,1,2,3,4,5,6,summit,int_start,int_end
0,chr1,1462311,1462544,human_peaks_peak_155,27,.,3.15007,4.60824,2.74415,109,1461363.0,1463477.0
1,chr1,1471227,1472043,human_peaks_peak_156,1361,.,14.43790,140.53300,136.17800,480,1470650.0,1472764.0
2,chr1,1511463,1512412,human_peaks_peak_158,1451,.,12.81810,149.73300,145.16600,628,1511034.0,1513148.0
3,chr1,1908542,1909748,human_peaks_peak_188,1399,.,8.21478,144.43500,139.99200,752,1908237.0,1910351.0
4,chr1,2071954,2073083,human_peaks_peak_200,840,.,8.60340,87.47910,84.05270,388,2071285.0,2073399.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2750,chrX,153818964,153819377,human_peaks_peak_89337,215,.,8.73268,24.00140,21.52660,129,153818036.0,153820150.0
2751,chrX,154805050,154806039,human_peaks_peak_89381,595,.,8.09858,62.63840,59.55830,533,154804526.0,154806640.0
2752,chrX,155216016,155216937,human_peaks_peak_89389,799,.,15.16820,83.29890,79.93250,388,155215347.0,155217461.0
2753,chrX,155766980,155767716,human_peaks_peak_89392,435,.,10.01980,46.41770,43.56750,490,155766413.0,155768527.0
2754,chrX,155766980,155767716,human_peaks_peak_89392,435,.,10.01980,46.41770,43.56750,490,155766413.0,155768527.0

In [8]:
model_scores_celltypes = {}
for celltype in ['enterocytes']:
    
    seq_list = []
    folds = ['fold_0','fold_1','fold_2','fold_3','fold_4']
    i = 0
    for fold in folds:
    
        file_path = 'region_scores/'+celltype+'/'+region_name+"/"+fold+".profile_scores.h5"
        dataset_key = '/projected_shap/seq'  # Adjust the dataset key as needed
    
        seq,model_score_fold = get_model_score(file_path,sequence_number)
        seq_list.append(seq)
        if i == 0:
            model_score_sum = model_score_fold
            i+=1
        else:
            model_score_sum = model_score_sum + model_score_fold
    
    model_score_avg = model_score_sum/len(folds)
    model_scores_celltypes[celltype] = model_score_avg

In [9]:
model_scores_celltypes

{'enterocytes':    0     1     2     3     4     5     6     7     8     9     ...  2104  \
 0   0.0   0.0   0.0  -0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 1   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 2   0.0   0.0   0.0  -0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 3   0.0   0.0   0.0  -0.0   0.0   0.0  -0.0   0.0   0.0   0.0  ...   0.0

    2105  2106  2107  2108  2109  2110  2111  2112  2113
 0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 1   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 2   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 3   0.0   0.0   0.0   0.0   0.0  -0.0   0.0   0.0   0.0

 [4 rows x 2114 columns]}